.TodoItem{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    background-color: #74112d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.TodoItem--complete{
    opacity: .8;
}
.Icon-todo{
    vertical-align: middle;
    margin-left: -20px;
    background-color: white;
    padding: 1px 5px;
    border-radius: 100%;
}
.Icon-todo--complete{
    background-color: #ff0f79;
    padding: 1px 5px;
    border-radius: 100%;
}
.TodoItem-p{
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 165px;
    text-align: left;
    margin: 0 0 0 10px;
    font-size: small;
    font-weight: 100;
}
.TodoItem-p--complete{
    text-decoration: line-through;
}
.Icon-todo-delete{
    content:url("../assets/imgs/basura2.svg");
    background-color: white;
    width: 14px;
    padding: 3px 8px;
    margin: 0 25px 0 0;
    border-radius: 5px;
}
.Icon-todo-delete:hover{
    color: red;
}