body {
  margin: 0;
  font-family: 'Ubuntu';
}
ul{
  padding: 0;
}
#root{
  display: block;
  position: relative;
  width: 100%;
  max-width: 425px;
  padding: 20px;
  margin: 50px auto 0 auto;
  padding-bottom: 40px;
  border-radius: 15px;
  /*background-color: #FEDC3D;*/
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.5); 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

